---
export const revalidate=0;
export const dynamic = "force-dynamic";
const BOT_TOKEN = import.meta.env.BOT_TOKEN
const CHAT_ID = import.meta.env.CHAT_ID
var data;
var res = "";
var formattedDateTime;
  try {
    // Lấy ngày giờ hiện tại
    const currentDateTime = new Date();
    // const year = currentDateTime.getFullYear();
    // const month = String(currentDateTime.getMonth() + 1).padStart(2, '0');
    // const day = String(currentDateTime.getDate()).padStart(2, '0');
    // const hours = String(currentDateTime.getHours()).padStart(2, '0');
    // const minutes = String(currentDateTime.getMinutes()).padStart(2, '0');
    // const seconds = String(currentDateTime.getSeconds()).padStart(2, '0');
    // const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    formattedDateTime = currentDateTime.toLocaleString('vn-VN', {timeZone: 'Asia/Ho_Chi_Minh' });

    // Gửi request đến URL nhất định
    const response = await fetch('http://sjc.com.vn/xml/tygiavang.xml?t='+currentDateTime.getTime());
    const xmlData = await response.text();

    // Hàm để trích xuất dữ liệu từ XML
    const extractData = (xml, tag) => {
      const regex = new RegExp(`<${tag}([^>]*)>`, 'g');
      const matches = [];
      let match;
      while ((match = regex.exec(xml)) !== null) {
        matches.push(match[1]);
      }
      return matches;
    };

    // Trích xuất các items
    const items = extractData(xmlData, 'item');
    const goldPrices = items.map(item => {
      const typeMatch = item.match(/type="([^"]*)"/);
      const buyMatch = item.match(/buy="([^"]*)"/);
      const sellMatch = item.match(/sell="([^"]*)"/);
      return {
        type: typeMatch ? typeMatch[1] : '',
        buy: buyMatch ? buyMatch[1] : '',
        sell: sellMatch ? sellMatch[1] : ''
      };
    });



    // Chuẩn bị thông báo Telegram với dữ liệu giá vàng
    data = goldPrices.map(price => `<b>${price.type}</b> -- Buy: <code>${price.buy}</code>, Sell: <code>${price.sell}</code>`).join('\n');
    
    

    // Gửi thông báo Telegram
    const telegramResponse = await fetch(`https://api.telegram.org/bot${BOT_TOKEN}/sendMessage`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        chat_id: CHAT_ID,
        text: `${formattedDateTime}:\n${data}`,
        parse_mode: 'html'
      }),
    });

    // Kiểm tra kết quả từ Telegram
    if (telegramResponse.ok) {
      res = 'Notification sent successfully';
    } else {
      res = 'Failed to send notification';
    }
  } catch (error) {
    console.error('Error:', error);
    res = 'Error occurred';
  }
---
{formattedDateTime}
<head><meta charset="utf-8"></head>
<div style="white-space: pre-line;" set:html={data} ></div>
{res}